.iip_chatroll {
  position: fixed;
  z-index:99999;
  border: 1px solid #262626;
  background: #fff;
}

.chatroll_topbar {
  cursor: pointer;
  padding: 4px 8px; 
  background: #262626; 
  color: #fff;
}

.iip_toggle, .iip_one, .iip_two {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.iip_one, .iip_two {
  position: absolute;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
}

.iip_one {
  top: 11px;
  left: 3px;
  right: 3px;
  height: 3px;
}

.iip_two {
  top: 3px;
  left: 11px;
  bottom: 3px;
  width: 3px;
}

.iip_toggle {
  position: relative;
  width: 25px;
  height: 25px;
  float: right;
}
    
.maximized {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.reduced {
  width: 200px!important;
}

@media (max-width: 782px) {
  
  .iip_chatroll {
    position: relative;
    left: inherit!important;
    right: inherit!important;
    bottom: inherit!important;
    z-index: 1;
  }

  .chatroll_topbar, .iip_chatroll iframe, .reduced {
    width: 100%!important;
  }

}